{% extends "base.html" %}

{% block content %}
<h1>Извлечь отношения из текста</h1>
<form action="" method="post" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.text_files.label }} <br>
        {{ form.text_files() }}
    </p>
    <p>
        {{ form.nodes_limit.label }}
        {{ form.nodes_limit() }}
    </p>
    <p>{{ form.is_conllu() }} {{ form.is_conllu.label }}</p>
    <p>{{ form.add_rel() }} {{ form.add_rel.label }}</p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}