{% extends "base.html" %}

{% block content %}
<h1>Извлеченные отношения</h1>
<a href="{{ url_for('download', directory='graphs', filename=graph_filename) }}">
    Загрузить граф отношений
</a>
{% for sentence in relations_dict %}
<article class="post">
    <header>
        <div>
            <h2>{{ sentence }}</h2>
        </div>
    </header>
    {% for relation in relations_dict[sentence] %}
    <p class="body">
        {% for rel_elem in relation %}
        {{ rel_elem }}
        {% endfor %}
    </p>
    {% endfor %}
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}